@import "base.scss";
@import "header.scss";
@import "footer.scss";
.content{
    width: 950px;
    border-radius:5px;
    min-height: 1px;
    position: absolute;
    left: 277px;
    top: 208px;
    .content_header{
        background-color:white;
        h3{
            height: 50px;
            line-height: 50px;
            text-indent: 21px;
            color: #48494d;
            font-size: 18px;
            font-weight: normal;
            border-bottom: 1px solid #e8e9eb;
            span{
                float:right;
                margin-right: 16px;
                font-size: 12px;
                color: #a9b3bd;
            }
        }
        dl{
            overflow: hidden;
            dt{
                float: left;
                font-size: 12px;
                color: #48494e;
                margin-left: 45px;
                margin-top: 24px;
                font-weight: bold;
            }
            dd{
                float: left;
            }
            dd ul{
                width: 800px;
                height: 85px;
                margin-top: 22px;
                li{
                    float: left;
                    margin-bottom: 10px;
                    padding:0 16px;
                    min-width: 50px;
                    border-left: 1px solid #cfd1d0;
                    line-height: 1.5;
                    a{
                        padding: 2px 3px;
                        border-radius: 2px;
                    }
                    a:hover{
                        
                        color: #ff6204;
                    }
                    a.click{background-color: #aab2bd;}
                }
            }
        }
        #more{
            text-align: center;
            line-height: 1.5;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .content_con{
        background: white;
        margin-top: 10px;
        .content_con_hd{
            border-bottom: 1px solid #e8e9eb;
            height: 50px;
            
            p{
                text-indent: 22px;
                float: left;
                line-height: 50px;
            }          
            ul li{
                float: left;
                border-left: 1px solid #e8e9eb;
                height: 12px;
                margin-top: 20px;
                padding: 0 5px;
                a{
                    font-weight: normal;
                    font-size: 12px;
                    padding: 3px 3px;
                    span{
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        background: url(/images/list/icon-goods-list.png) no-repeat left top;
                    }
                }
                a.click{background-color: #aab2bd;color: white;}               
            }
        }
        .content_con_goods{
            min-height: 1000px;
            ul{                
                li{
                    width: 236px;
                    position: relative;
                    height: 326px;
                    border-bottom: 1px solid #cfd1d0;
                    border-right: 1px solid #cfd1d0;
                    float: left;
                    .content_con_goods_item{
                        &>span{
                            position: absolute;
                            height: 40px;
                            width: 50px;
                            background: url(/images/list/icon-saleoff.png) no-repeat left top;
                            left: 20px;
                            line-height: 40px;
                            font-size: 14px;
                            color: white;
                            text-align: center;
                        }
                        &>a{
                            img{
                                width: 100%;
                                height: 100%;
                                margin-top: 5px;
                            }
                            
                        }
                        &>h2{
                            margin: 0 auto;
                            width: 195px;
                            font-size: 14px;
                            text-align: center;
                            overflow: hidden;
                            font-weight: normal;
                            line-height: 1.3;
                            a{
                                color: #484850;
                                &:hover{
                                    color: #ff6204;
                                }
                            }
                        }
                        .item_price{
                            text-indent: 23px;
                            font-size: 14px;
                            del{
                                margin-left: 15px;
                                font-size: 12px;
                                color: #b0bac3;
                            }
                        }
                        .item_tocart{
                            margin-top: 13px;
                            a{
                                margin-left: 25px;
                                font-size: 12px;
                                &:hover{
                                    color: #fb541d;
                                }
                            }
                            span{
                                display: inline-block;
                                position: relative;
                                top: 4px;
                                width: 15px;
                                height: 15px;
                                background: url(/images/index/icon-common.png) no-repeat -243px -34px;
                            }
                        }
                    }
                }
            }
        }
    }
    .content_footer{
        height: 92px;
        background: white;
        form .pagechange{
            padding-top: 30px;
            text-align: center;            
            a{
                font-size: 14px;
                display: inline-block;
                padding: 5px 10px;
                border: 1px solid #e6e9ed;
            }
            a.pageclick{
                background: #ff6204;
                color: white;
            }
        }
    }
}
.blank{
    height: 839px;
}
