@mixin center{margin-left: auto;margin-right: auto;}
@mixin font($hpx,$fpx){line-height: $hpx;font-size: $fpx;text-align: center;}
@mixin border($w,$h){
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: $w;
    height: $h;
    z-index: -1;
}
@import 'base';
@import 'header';
@import 'footer';
.blank{
    height: 527px;
}

body{background: #f5f7fa;}
.content_wrap{
    width: 100%;
    
    .content{
        min-height: 4000px;
        width: 1190px;
        @include center;     
        .special_area,.Garage,.model_area{
            margin-top: 10px;
            background: white;
            height: 710px;
            p{
                height: 51px;
                width: 100%;
                font-size: 17px;
                text-indent: 20px;
                line-height: 51px;
                color: #656d78;
                border-bottom: 1px solid #e6e9ed;
                a{
                    float: right;
                    font-size: 17px;
                    padding-right: 33px;
                    line-height: 51px;
                    color: #656d78;
                    &:hover{
                        color: #ff6204;
                    }
                }
            }
            ul{
                li{
                    float: left;
                    margin-left: 10px;
                    margin-top: 10px;
                    position:relative;
                    }
                    a{
                        display: inline-block;
                        width: 100%;
                        height: 100%;                                                                
                        &:hover:before{
                        @include border(215px,300px); 
                        border: 5px solid gray;
                        opacity: .1;
                    }
                }
                li:first-child a:hover:before{
                    @include border(450px,300px)
                }
                li:last-child a:hover:before{
                    @include border(450px,300px)
                }
            }
        }
        .life_area,.cloth_area,.cartoon,.pendant{
            margin-top: 10px;
            background: white;
            height: 380px;
            p{
                height: 51px;
                width: 100%;
                font-size: 17px;
                text-indent: 20px;
                line-height: 51px;
                color: #656d78;
                border-bottom: 1px solid #e6e9ed;
                a{
                    float: right;
                    font-size: 17px;
                    padding-right: 33px;
                    line-height: 51px;
                    color: #656d78;
                    &:hover{
                        color: #ff6204;
                    }
                }
            }
            ul{
                li{
                    float: left;
                    margin-left: 10px;
                    margin-top: 10px;
                    position:relative;
                    }
                    a{
                        display: inline-block;
                        width: 100%;
                        height: 100%;                                                                
                        &:hover:before{
                        @include border(215px,300px); 
                        border: 5px solid gray;
                        opacity: .1;
                    }
                }
            }
        }
        .plush{
            margin-top: 10px;
            background: white;
            height: 380px;
            p{
                height: 51px;
                width: 100%;
                font-size: 17px;
                text-indent: 20px;
                line-height: 51px;
                color: #656d78;
                border-bottom: 1px solid #e6e9ed;
                a{
                    float: right;
                    font-size: 17px;
                    padding-right: 33px;
                    line-height: 51px;
                    color: #656d78;
                    &:hover{
                        color: #ff6204;
                    }
                }
            }
            ul{
                li{
                    float: left;
                    margin-left: 10px;
                    margin-top: 10px;
                    position:relative;
                    }
                    a{
                        display: inline-block;
                        width: 100%;
                        height: 100%;                                                                
                        &:hover:before{
                        @include border(215px,300px); 
                        border: 5px solid gray;
                        opacity: .1;
                    }
                }
                li:first-child a:hover:before{
                    @include border(450px,300px); 
                }
                li:last-child{
                    a{
                        display: block;
                        position: relative;
                    }
                    a:last-child{
                        margin-top: 10px;
                    }
                }
                li:last-child a:first-child:hover:before{
                    @include border(215px,140px);                    
                }
                li:last-child a:last-child:hover:before{
                    @include border(215px,140px);                    
                }
            }
        }
        .parts_area{
            margin-top: 10px;
            background: white;
            height: 390px;
            margin-bottom: 30px;
            p{
                height: 51px;
                width: 100%;
                font-size: 17px;
                text-indent: 20px;
                line-height: 51px;
                color: #656d78;
                border-bottom: 1px solid #e6e9ed;
                a{
                    float: right;
                    font-size: 17px;
                    padding-right: 33px;
                    line-height: 51px;
                    color: #656d78;
                    &:hover{
                        color: #ff6204;
                    }
                }
            }
            ul{
                li{
                    float: left;
                    margin-left: 10px;
                    margin-top: 10px;
                    position:relative;
                    }
                    a{
                        display: inline-block;
                        width: 100%;
                        height: 100%;                                                                
                        &:hover:before{
                        @include border(215px,300px); 
                        border: 5px solid gray;
                        opacity: .1;
                    }
                }
                li:last-child a:hover:before{
                    @include border(450px,300px); 
                }
                li:first-child{
                    a{
                        display: block;
                        position: relative;
                    }
                    a:last-child{
                        margin-top: 10px;
                    }
                }
                li:first-child a:first-child:hover:before{
                    @include border(215px,140px);                    
                }
                li:first-child a:last-child:hover:before{
                    @include border(215px,140px);                    
                }
            }
        }
    }
}
    .nav_wrap{
        width: 100%;
        min-height: 45px;
        position: relative;
         #lunbo{
            width: 950px;
            height: 410px;
            position: absolute;  
            top: 55px;     
            left: 10px;
            .icon_left{
                height: 410px;
                min-width: 42px;
                position: absolute;
                left: 0px; 
                z-index: 200;
                span{
                    display: inline-block;
                    height: 69px;
                    width: 42px;
                    position: absolute;
                   
                    top: 170px;
                    background: url(../images/index/icon-slides-2.png) no-repeat -83px 0px;
                    &:hover {
                        background-position-x: 0px;
                        opacity: .6;
                    }
                }
            }
            .icon_right{
                height: 410px;
                min-width: 42px;
                position: absolute;
                right: 0;            
                z-index: 200;
                span{
                    display: inline-block;
                    height: 69px;
                    width: 42px;
                    position: absolute;
        
                    top: 170px;
                    background: url(../images/index/icon-slides-2.png) no-repeat -124px 0px;
                    &:hover {
                        background-position-x: -43px;
                        opacity: .6;
                    }
                }
            }
            ul{
                li{
                    position: absolute;
                    width: 950px;
                    height: 410px;
                    opacity: 0;               
                }
                li.z_index{z-index: 50;}
            }
            ol{
                width: 330px;
                height: 27px;
                position: absolute;
                z-index: 200;
                top: 370px;
                right: 36px;
                li{
                    float: left;
                    width: 25px;
                    height: 25px;
                    margin-right: 5px;
                    cursor: pointer;
                    background: #FCB860;
                    border: 1px solid salmon;
                    opacity: .2;
                }
                li.ac{opacity: .8;}
            }
        }
        .nav .nav_show{
            position: absolute;
            width: 950px;
            height: 100px;
            left: 10px;
            top: 471px;
            ul{
                li{
                    margin-left: 10px;
                    float: left;
                    position:relative;
                    width: 230px; 
                    a{
                        width: 230px;
                        box-sizing: border-box;
                        display: inline-block;
                        height: 100px;
                        text-align: center;
                        
                        &:hover:before{
                            position: absolute;
                            z-index: 10;
                            top: 0;
                            left: 0;
                            content: "";
                            width: 220px;
                            height: 90px;
                            border: 5px solid rgba(0,0,0,0.05);
                        }                 
                    }               
                }
                li:nth-child(1){
                    margin: 0;
                }
            }
        }
    }
.side_wrap{
    .leftside{
        position: fixed;
        left: 0;
        top: 45%;
        z-index: 999;
        img{
            width: 112px;
            height: 282px;
        }
    }
    .rightside{   
            position: fixed;
            right: 5px;
            top: 45%; 
            z-index: 999;
    }
    .totop{
       
        position: fixed;
        bottom: 10%;
        right: 5%;
        z-index: 999;
        a{
            display: block; 
            width: 50px;
            height: 50px;      
            background: url(../images/index/gotop_on.png) no-repeat center center;
            background-size: 50px;
            &:hover{
                background-image: url(../images/index/gotop_off.png);
            }
        }
  
    }
}
//      .model_area{
//          margin-top: 10px;
//          background: white;
//          height: 710px;
//          p{
//              height: 51px;
//              width: 100%;
//              font-size: 17px;
//              text-indent: 20px;
//              line-height: 51px;
//              color: #656d78;
//              border-bottom: 1px solid #e6e9ed;
//              a{
//                  float: right;
//                  font-size: 17px;
//                  padding-right: 33px;
//                  line-height: 51px;
//                  color: #656d78;
//                  &:hover{
//                      color: #ff6204;
//                  }
//              }
//          }
//          ul{
//              li{
//                  float: left;
//                  margin-left: 10px;
//                  margin-top: 10px;
//                  position:relative;
//                  }
//                  a{
//                      display: inline-block;
//                      width: 100%;
//                      height: 100%;                                                                
//                      &:hover:before{
//                      @include border(215px,300px); 
//                      border: 5px solid gray;
//                      opacity: .1;
//                  }
//              }
//              li:first-child a:hover:before{
//                  @include border(450px,300px)
//              }
//              li:last-child a:hover:before{
//                  @include border(450px,300px)
//              }
//          }
//      }    

